{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}home{% endblock %}

{% block content %}
    <div class="mdl-grid mdl-grid--no-spacing">
        <div class="logo-cell mdl-cell mdl-cell--12-col">
            <img class="main-logo mdl-shadow--8dp" src="{% static 'icons/logo.png' %}" />
            <div class="main-text">Hi, my name is Sean and I love programming.</div>
        </div>    
    {% for project in projects %}
        {% image project.main_image fill-800x600 as card_image %}
        <style>
            #card-{{forloop.counter}}
            {
                background: url('{{card_image.url}}') bottom right 15% no-repeat #46B6AC;
                background-size: cover;            
            }
        </style>
        <div class="portfolio-cell mdl-cell mdl-cell--6-col mdl-color--grey-300">
            <a class="portfolio-link" href="{% pageurl project %}"><div class="demo-card-square mdl-card mdl-shadow--8dp mdl-color--deep-orange">
                <div id="card-{{forloop.counter}}" class="mdl-card__title mdl-card--expand">
                    <h2 class="mdl-card__title-text">{{project.title}}</h2>
                </div>
                <div class=" mdl-card__supporting-text">
                    {{project.intro}}
                </div>
            </div></a>
         </div>
    {% endfor %}
    </div>
{% endblock %}
