{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    {% for page in content_pages %}
        <div class="row">
            {% image page.specific.main_image fill-100x100 class="img-rounded pull-left" %}
            <h2><a href="{% pageurl page %}">{{ page.title }}</a></h2>
            <p class="text-muted pull-left">{{ page.specific.date }}</p>
            {% for tag in page.specific.tags.all %}
                {{ tag }}
            {% endfor %}

        </div>
    {% endfor %}
{% endblock %}