.main-logo {
  display: block;
  margin: 0 auto;
  height: 200px;
  width: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.main-text {
  padding-top: 20px;
  text-align: center;
  color: white;
  font-size: 32px;
  line-height: 40px;
}
.portfolio-cell {
  padding: 20px 50px 20px 50px;
}
.logo-cell {
  padding: 0 80px 80px 80px;
}
.mdl_layout.is-small-screen .logo-cell {
  padding: 10px;
}
.demo-card-square.mdl-card {
  width: 100%;
  height: 320px;
  text-decoration: none;
}
.demo-card-square .mdl-card__title {
  color: #fff;
}
.mdl-card__supporting-text {
  color: #fff;
}
.portfolio-link {
  text-decoration: none;
}
