.template-homepage h2
{
    margin-top: 0;
}

#main-container
{
    margin-top: 10px;
}

#main-spacer
{
    margin-top: 10%;
}

#main-content
{
    max-width: 700px;
}

.date-text
{
    margin-right: 5px;
}

#my-name
{
    font-size: 60px;
    font-family: 'VT323', monospace;
    text-align: center;
    margin-top: -10px;
}

#my-title
{
    font-size: 24px;
    font-family: 'VT323', monospace;
    text-align: center;
    margin-top: -20px;
}

.blog-index-item
{
    margin-bottom: 20px;
    margin-top: 0;
}

@media (min-width: 970px) {
    h1
    {
        font-weight: 700;
        font-style: normal;
        font-size: 40px;
        margin-left: -2.5px;
        line-height: 1.04;
        letter-spacing: -.028em;
        margin-top: 0;
    }

    p
    {
        font-weight: 400;
        font-style: normal;
        font-size: 21px;
        line-height: 1.58;
        letter-spacing: -.003em;
    }

    p+p
    {
        margin-top: 29px;
    }
}

@media (max-width: 970px) {
    #main-content
    {
        padding-left: 5px;
        padding-right: 5px;
    }
    h1
    {
        font-weight: 700;
        font-style: normal;
        font-size: 32px;
        margin-left: -2px;
        line-height: 1.04;
        letter-spacing: -.028em;
    }

    p
    {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.58;
        letter-spacing: -.004em;
    }

    p+p
    {
        margin-top: 21px;
    }
}

