{% load wagtailcore_tags static wagtailimages_tags %}

<div class="stream-field">
    {% for child in content %}
        {% if child.block_type == 'text_content' %}
            <div class="text_content">{{ child.value|richtext }}</div>
        {% elif child.block_type == 'image' %}
            {% image child.value.image width-1280 as theimage %}
            <div class="stream-image">
                <img src="{{ theimage.url }}" width="{{ theimage.width }}" height="{{ theimage.height }}" alt="{{ theimage.alt }}" class="img-responsive img-rounded" />
                {% if child.value.caption %}
                    <div class="caption">
                        {{ child.value.caption }}
                    </div>
                {% endif %}
            </div>
        {% elif child.block_type == 'code' %}
            <pre><code class="{{ child.value.language }}">{{ child.value.code|richtext }}</code></pre>
        {% else %}
            {{ child }}
        {% endif %}
    {% endfor %}
</div>

{% block extra_css %}<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/default.min.css">{% endblock %}
{% block extra_js %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}